**/node-token


# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Override files (usually local, ignore these)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraformrc
terraform.rc

# Ignore ALL files under any folder named "secrets"
**/secrets/**

# But allow kustomization.yaml in secrets folders
!**/secrets/kustomization.yaml
