apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  - base/argo-cd-ui-http.yaml
  - base/sync-project.yaml
patches:
  - path: overlays/production/argo-cd-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-cm

  - path: overlays/production/argocd-cmd-params-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-cmd-params-cm

  - path: overlays/production/argocd-rbac-cm.yaml
    target:
      kind: ConfigMap
      name: argocd-rbac-cm

  - path: overlays/production/argocd-server-service.yaml
    target:
      kind: Service
      name: argocd-server
